.cardsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 14%;
  margin-top: 1%;
}

.image {
  width: 100%;
  z-index: 1;
}

.card {
  display: flex;
  border: #152238 solid 1px;
  background-color: #152238;
}

.card_body {
  position: relative;
  z-index: 2;
  text-align: left;
  top: -15%;
  border-radius: 0 0 15px 15px;
  background-color: #152238;
  box-shadow: 9px 9px 9px 0 rgba(0, 0, 0, 40%),
    -9px -9px 20px 0 rgb(255, 255, 255, 20%);
}

.card_body:hover {
  box-shadow: 9px 9px 9px 0 rgba(0, 0, 0, 40%),
    -9px -9px 20px 0 rgb(255, 255, 255, 40%);
}

.card_body a {
  color: #fff;
  font-size: 25px;
}

.card_body a:hover {
  font-size: 25px;
  color: #ff6c6c;
  text-decoration: none;
}

.desc {
  font-size: 18px;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 10%;
}

p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #fff;
}

.author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardsContainer img {
  border-radius: 10px 10px 0 0;
}
