.outletSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 3% 0 0;
  border-radius: 15px;
  padding: 10px;
  width: 30%;
  height: 10%;
  border: black 3px solid;
}

.options {
  margin: 3%;
}

.generalInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
}

.generalInfo > * {
  margin: 0 8px;
}

.flagCode {
  width: 32px;
  height: 20px;
}

.generalInfo a {
  font-size: 25px;
  color: #ffde22;
}

.generalInfo a:hover {
  font-size: 25px;
  color: #ff8f00;
}

.singleNew a {
  color: #000;
  font-size: 40px;
  font-weight: bold;
}

.singleNew a:hover {
  color: #ff6c6c;
  font-size: 40px;
  font-weight: bold;
}

.singleNew p {
  color: #000;
  font-size: 20px;
  text-align: left;
  padding-left: 1%;
}

.generalInfo p {
  font-size: 25px;
  color: #0085a5;
  font-weight: bold;
}

h1 {
  font-size: 40px;
  letter-spacing: 3px;
  padding: 10px;
  font-family: "Open Sans";
  font-weight: 800;
  color: black;
}

span {
  color: #ff908b;
}
