.outletSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1% 5% 0 15%;
  border-radius: 15px;
  width: 25%;
  height: 10%;
  padding: 2%;
  background-color: #faba72;
  box-shadow: 9px 9px 9px 0 rgba(0, 0, 0, 17%),
    -9px -9px 20px 0 rgb(255, 255, 255, 17%);
}

.outletSection:hover {
  box-shadow: 9px 9px 9px 0 rgba(0, 0, 0, 30%),
    -9px -9px 20px 0 rgb(255, 255, 255, 17%);
}

.general {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.general > * {
  margin: 0 8px;
}

.flag {
  width: 32px;
  height: 20px;
}

.context a {
  color: #000;
  font-size: 25px;
  font-weight: 600;
}

.context a:hover {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.context p {
  color: #000;
  font-size: 18px;
  text-align: left;
  padding-top: 2%;
}

.general p {
  font-size: 25px;
  color: #000;
  font-weight: 600;
}
