* {
  font-family: "Open Sans", sans-serif;
}

.app {
  text-align: center;
  background-color: #fff;
}

.title {
  color: black;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ff6c6c;
  text-decoration: none;
}

.news {
  margin: 3%;
}
