.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  font: italic 700 50px "Open Sans", sans-serif;
  letter-spacing: 0px;
  color: black;
}
